@model IEnumerable<Project59.Models.Truycap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-success m-r-5">Thêm mới</a>
</p>

<table id="data-table" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                Trạng Thái
            </th>
            <th>
                Mô tả
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trangthai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoleId" class="btn btn-secondary m-r-5">Sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.RoleId" class="btn btn-info m-r-5">Xem</a> 
                    <a asp-action="Delete" asp-route-id="@item.RoleId" class="btn btn-danger m-r-5">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>$('#data-table').DataTable();</script>